<!DOCTYPE html>
<html>
<head>
  <title>Flixter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="http://vjs.zencdn.net/4.12/video-js.css" rel="stylesheet">
  <script src="http://vjs.zencdn.net/4.12/video.js"></script>
  <style>
    .video-js {padding-top: 56.25%}
    .vjs-fullscreen {padding-top: 0px}
  </style>
</head>
<body>
<%= render "static_pages/nav" %>  

<div id='alert'>
  <% if notice.present? %>
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= notice %>
    </div>
  <% end %>

  <% if alert.present? %>
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= alert %>
    </div>
  <% end %>
</div><!-- alert -->

<%= yield %>

  </div>

  <br class="clr" />
  
  <div id="footer">
    <div class="container">
      <b>Footer Here</b>
      <br />
      <%= link_to 'Teach a Course', new_instructor_course_path %>
    </div>
  </div>

</body>
</html>
